.section-3 {
    margin-top: 120px;
    display: flex;
    flex-wrap: nowrap;
}

.section-3>.left-block {
    margin-left: 135px;
}

.section-3>.spacer {
    display: block;
    height: inherit;
    min-width: 70px;
}

.section-3>.right-block {
    margin: auto 0;
    margin-right: 135px;
}

.section-3>.right-block>p {
    margin-top: 30px;
}

.section-3>.right-block>button {
    margin-top: 40px;
}